<h2>WORK</h2>
<div class="work">
    <a href="{{source}}woman1.jpeg" data-lightbox="photograpghy"><img src= "{{source}}woman.jpeg" alt="photograpghy" ></a>
    <a href="{{source}}woman4.jpeg" data-lightbox="photograpghy"><img src= "{{source}}woman3.jpeg" alt="photograpghy" ></a>
    <a href="{{source}}nature1.jpeg" data-lightbox="photograpghy"><img src= "{{source}}nature.jpeg" alt="photograpghy" ></a>
    <a href="{{source}}buildings1.jpeg" data-lightbox="photograpghy"><img src= "{{source}}buildings.jpeg" alt="photograpghy" ></a>
    <a href="{{source}}woman6.jpeg" data-lightbox="photograpghy"><img src= "{{source}}woman5.jpeg" alt="photograpghy" ></a>
    <a href="{{source}}man1.jpeg" data-lightbox="photograpghy"><img src= "{{source}}man.jpeg" alt="photograpghy" ></a>
    <a href="{{source}}buildings3.jpeg" data-lightbox="photograpghy"><img src= "{{source}}buildings2.jpeg" alt="photograpghy" ></a>
    <a href="{{source}}metro1.jpeg" data-lightbox="photograpghy"><img src= "{{source}}metro.jpeg" alt="photograpghy" ></a>
    <a href="{{source}}nature3.jpeg" data-lightbox="photograpghy"><img src= "{{source}}nature2.jpeg" alt="photograpghy" ></a>
    <a href="{{source}}icecream.jpeg" data-lightbox="photograpghy"><img src= "{{source}}icecream.jpeg" alt="photograpghy" ></a>
    <a href="{{source}}woman8.jpeg" data-lightbox="photograpghy"><img src= "{{source}}woman7.jpeg" alt="photograpghy" ></a>
    <a href="{{source}}beach1.jpeg" data-lightbox="photograpghy"><img src= "{{source}}beach.jpeg" alt="photograpghy" ></a>
    <a href="{{source}}woman10.jpg" data-lightbox="photograpghy"><img src= "{{source}}woman9.jpeg" alt="photograpghy" ></a>
    <a href="{{source}}beach3.jpeg" data-lightbox="photograpghy"><img src= "{{source}}beach2.jpeg" alt="photograpghy" ></a>
    <a href="{{source}}woman12.jpeg" data-lightbox="photograpghy"><img src= "{{source}}woman11.jpeg" alt="photograpghy" ></a>
</div>
